#input{
    height: 60px;
    width: 242px;
    background-color: white;
    border: solid; border-color: black;
    text-align: right;
    font-size: 25px;
    color: black;
}

button{
    border-radius: 10px;
    border-color: #140d0d;
}